@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#footer {
    color: white;
    font-size: 16px;
}

footer {
    background-color: black;
    padding: calc(3.25 * 1em);
}

h2 {
    font-family: sans-serif;
    font-size: 3.052rem;
    letter-spacing: 2px;
    color: white;
    margin-top: 150px;
}

p {
    font-family: sans-serif;
    font-size: 1.563rem;
    letter-spacing: 1px;
}

.subtitle {
    color: cornsilk;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: center;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    width: 150px;
    height: 60px;
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.button-white {
    color: black;
    border: 1px solid #ffffff;
    background-color: white;
}

button:hover {
    box-shadow: 0 0 60px grey;
}

button > i {
    margin: 10px;
}

a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 0 50px;
}

a:hover {
    text-decoration: none;
    box-shadow: 0 0 1px grey;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-gradient {
    height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #ff9a8b, #f7a8b8, #d1c4e9, #a8c0ff);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    position: relative;
    overflow: hidden;
}

#container-2 {
    height: 80%;
    width: 80%;
    background-color: black;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .container-gradient {
        background: black !important;
    }
}
